svg {
  /* padding: 10px; */
  /* background: yellow !important; */
}

.grouped-bar-chart .x-axis .tick text {
  text-align: justify;
  word-break: break-all !important;
  width: 20px !important;
  font-size: 12px;
}

.x-axis {
  z-index: 10;
}

.y-axis {
  z-index: 10;
}

@media (max-width: 550px) {
  .grouped-bar-chart .x-axis .tick text {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .grouped-bar-chart .x-axis .tick text {
    font-size: 8px;
  }
}
