.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 5%;
  color: #d7d7d7;
  background-color: #20232a;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.header-content {
  position: fixed;
  right: 30px;
}

.header h1 {
  margin-left: 20px;
}
